.slide {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 110px;
  top: 0;
  text-align: center;
}

.slide.visible {
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide.visible.entering {
  opacity: 1;
}
