.slide#intropaint(data-slide='intro')
  h1.main-title: span(data-i18n-str='main-title')
  .paint.columns
    .column
      .input.box.background
        .input-canvas-wrapper
          canvas.drawcanvas
        .input-placeholder
          span(data-i18n-str='ui-label-input-placeholder')
    .column.confidences.visible
      .bars
    .column
      .output-wrapper
        .output.digit
