.slide(data-slide='how-does-it-work')
  h1.main-title: span(data-i18n-str='main-title')
  .how.columns
    .box
      h3(data-i18n-str='how-work-what-is-nn-title')
      .explain(data-i18n-str='how-work-what-is-nn-teaser')
      a.button.learnmore(href='#what-is-a-neural-network', data-i18n-str='how-work-learn-more')

    .box
      h3(data-i18n-str='how-work-how-learn-title')
      .explain(data-i18n-str='how-work-how-learn-teaser')
      a.button.learnmore(href='#how-does-the-network-learn', data-i18n-str='how-work-learn-more')

    .box
      h3(data-i18n-str='how-work-training-data-title')
      .explain(data-i18n-str='how-work-training-data-teaser')
      a.button.learnmore(href='#what-is-training-data', data-i18n-str='how-work-learn-more')
