.slide(data-slide='what-is-a-neural-network', data-slide-nav='how-does-it-work')
  .explanation
    .container-fluid
      .row
        .col
          h2(data-i18n-str='what-is-nn-title')
      .row(data-i18n-html='s3a-what-is-a-neural-network')
      .row
        .col
          .text-center
            a.button.button-back(href='#how-does-it-work', data-i18n-str='how-work-learn-back')
