.slide(data-slide='how-does-the-network-learn', data-slide-nav='how-does-it-work')
  .explanation
    .container-fluid
      .row
        .col
          h2(data-i18n-str='how-learn-title')
      .row.justify-content-center(data-i18n-html='s3b-how-does-the-network-learn')
      .row
        .col
          .text-center
            a.button.button-back(href='#how-does-it-work', data-i18n-str='how-work-learn-back')
