p.lead
  | Die Trainingsdaten werden “bereinigt”, also alle handgeschriebenen Ziffern werden in einem 28x28 Pixel großen Feld zentriert. Auch deine geschriebenen Ziffern werden genau so aufbereitet, bevor das neuronale Netz mit der Analyse beginnen kann.

