p.lead
  | <strong>Trainingsdaten</strong> sind die Grundlage dafür, dass ein neuronales Netz das tut, was du möchtest. Es handelt sich normalerweise um einen großen Satz von Beispiel-Daten, kombiniert mit den gewünschten Ausgabewerten. Oft wird ein großer Teil der Trainingsdaten zum Trainieren des Netzes verwendet, während der verbleibende zum Testen des Netzes und zum Überprüfen seiner Genauigkeit verwendet wird.
p.lead
  | Trainingsdaten sind sehr wertvoll, und zum Glück gibt es offene Datenbanken wie die MNIST-Datenbank für hadgeschriebene Ziffern, die wir für dieses Exponat verwendet haben. Für das Exponat Neuronale Zahlen haben wir 70.000 Bilder von handgeschriebenen Ziffern verwendet:
.row
  .col-8
    .figure
      img.img-fluid(src='assets/img/what-is-training-data-fig-1.png')
