.slide
  .split.training
    h3 Training network   
    .speech-bubble-anchor
      .bubble.whentrainingpaused Click here to restart or continue training.
    #training-controls(style="visibility:hidden;").box
      a(href="#4", title="reset training").reset ⟲
      |  | 
      a(href="#4", title="pause/resume training").pause-resume ▮▮
      |  | 
      a(href="#4", title="train a single step").single-step ▮▶
      
    #training-progress
    canvas#network
    .speech-bubble-anchor(style="position:relative; left: -20vw;")
      #introbubble.bubble.visible We are using the MNIST data-set to train a neuronal network.
  .split.validation
    h3 Validation
    div Accuracy on entire validation set:
      p
        .speech-bubble-anchor
          .bubble.whentrainingpaused Further training might enhance this accuracy.
        #validation-accuracy(style="--angle:360deg")
          div 0%
    div 50 randomly choosen images of the validation set:
      #validation-images
    p
  
  #previewpaint.box
    div Test the just trained network
    .paint
      div
        p <b>Draw</b> a digit here:
        canvas.drawcanvas
      div
        p The neural network sees...
        canvas.normalizecanvas
      div 
        p ... and predicts
        div.bars
  .box.navigation    
    a(href="index.html#1") restart
  script(type="text/javascript", src="src/js/training-validation.js")
