p.lead
  | <strong>Training data</strong> is the basis for a neural network to do what you want. It is usually a large set of sample inputs combined with the desired outputs. Often a large part of the training data is used to <strong>train</strong> the network, while the remaining part is used to <strong>test</strong> the network afterward, checking its accuracy.
p.lead
  | Training data is very valuable, and luckily there are open databases, like the MNIST database of handwritten digits that we used for this exhibit.
p.lead
  | For the Neural Numbers exhibit we used 70,000 images of handwritten digits:
.row
  .col-8
    .figure
      img.img-fluid(src='assets/img/what-is-training-data-fig-1.png')
