p.lead
  | The training data has to be "cleaned up". In this case, all handwritten digits are centered and sized to fit in a 28x28 pixel image. Accordingly, your input is also prepared before the neural network can begin its analysis.

