.footer
  .navigation
    a.button(href="#intro")
      span(data-i18n-str='nav-button-intro')
    a.button(href="#training")
      span(data-i18n-str='nav-button-training')
    a.button(href="#how-does-it-work")
      span(data-i18n-str='nav-button-how-does-it-work')
    a.button(href="#design-network")
      span(data-i18n-str='nav-button-design-network')
  .utility
    .icons
      a.international
      a.info
