extends tpl/page

block main
  include include/slides/s1-intro
  include include/slides/s2-training
  include include/slides/s3-how-does-it-work
  include include/slides/s3a-what-is-a-neural-network
  include include/slides/s3b-how-does-the-network-learn
  include include/slides/s3c-what-is-training-data
  include include/slides/s4-design-network
