doctype html
html
  - body = { class: [] };
  - main = { class: [] };
  block init
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no')
    meta(property="og:url", content!=config.siteURL)
    meta(property="og:type", content="website")
    meta(property="og:title", content!=config.siteName)
    meta(property="og:image", content="")
    meta(name="description", content!=(description || config.siteDescription))
    meta(property="og:description", content!=(description || config.siteDescription))
    block meta
    link(rel="icon", type="image/png", href="assets/img/favicon.png")
    link(rel='stylesheet', href='assets/css/neural-numbers.css', media='all', type='text/css')
    block stylesheets
    title
      | Neural Numbers component Test
    block head
  body(class!=body.class.join(' '))
    h2 Basic
    .component.neural-numbers-component(data-component='neural-numbers', data-model='assets/models/my-model.json', data-input-placeholder='write a number between 0&nbsp;and&nbsp;9')
    h2 With bars
    .component.neural-numbers-component(data-component='neural-numbers', data-model='assets/models/my-model.json', data-input-placeholder='write a number between 0&nbsp;and&nbsp;9', data-show-bars)
    h2 Normalization
    .component.neural-numbers-component(data-component='neural-numbers', data-model='assets/models/my-model.json', data-input-placeholder='write a number between 0&nbsp;and&nbsp;9', data-show-normalizer, data-show-output='false')
    h2 Bad
    .component.neural-numbers-component.neural-numbers-component-bad(data-component='neural-numbers', data-model='assets/models/my-model-320.json', data-input-placeholder='write a number between 0&nbsp;and&nbsp;9', data-show-bars)
    h2 Mediocre
    .component.neural-numbers-component.neural-numbers-component-mediocre(data-component='neural-numbers', data-model='assets/models/my-model-1568.json', data-input-placeholder='write a number between 0&nbsp;and&nbsp;9', data-show-bars)
    script(src="vendor/jquery/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    block scripts
    script(type="text/javascript", src="vendor/pep/pep.js")
    script(type="text/javascript", src="vendor/tf/tf.min.js")
    script(type="text/javascript", src="assets/js/dependencies.min.js")
    script(type="text/javascript", src="assets/js/neural-numbers.min.js")
    block closing
